# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/activityDebug/classes/
/lib_crop_native/.cxx/
/lib_crop_native/build/
/lib_crop_native/build/intermediates/javac/debug/classes/
/.idea
